* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.logo {
  width: 30%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
a.navbar-item{
  cursor: pointer;
}
a.button-hello {
  cursor: pointer;
}
.navbar-item {
  font-size: 18px;
  font-weight: 300;
  display: block;
  position: relative;
  padding: 20px;
}
.button-hello {
  font-size: 18px;
  font-weight: 300;
  display: block;
  position: relative;
  padding: 20px;
}
.container {
  margin:auto;
  background-color: #02B3FA;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5,auto);
  list-style: none;
  text-align: center;
  justify-self: end;
}
