<div class="all">
<app-navbar></app-navbar>
<section class="container-start">
<div class="main">
  <div class="main-text">
  <h1>I'm Novice Junior Front-End Developer</h1>
  <h2>And this is part of my skills.</h2>
  </div>
  <div class="human-place">
    <img class="human" src="/assets/images/human.jpg">
  </div>
</div>
  </section>

  <section class="container-mid">
    <div class="text-mid">
      <h2>Hello My Name Is Daniel</h2>
      Since beginning my journey as a freelance designer nearly 10 years ago,<br>
      I've done remote work for agencies, consulted for startups,<br>
      and collaborated with talented people to create digital products for both business and consumer use.<br>
      I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.<br>
    </div>
  </section>
</div>
