.all {

}
.main-text {
  font-family: cursive;
  font-size: 1.2em;
  text-align: center;
  cursor:pointer;
  display: block;
  margin-top: 100px;
}
.human {
  width: 160px;

}
.human-place {
 text-align: center;
  margin-top: 300px;
}
 .container-mid {
   background: #6A5ACD;
   margin-left: auto;
   margin-right: auto;
   width: auto;
  border-radius: 5%;
   padding: 10rem;
 }
 .text-mid {
   text-align: center;
   font-size: 1.3em;
   font-family: Cambria;
   color: #F0FFFF;
   display:block;
 }
